.searchBar {
    border: 1px solid red;
    position: fixed;
    top: 62px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
}

.searchContainer {
    height: 35px;
    width: 200px;
    font-size: 1.1rem;
    margin: 10px;
}

.searchButton {
    margin: 10px;
    width: 90px;
    height: 40px;
    font-size: 1.2rem;
}