.searchResults {
    border: 1px solid red;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 120px 30px 30px 50px;
}

h2 {
    border: 1px solid red;
    text-align: center;
    height: auto;
    font-size: 2.1rem;
}